.srw_main_div {
    height: 300px;
    width: 300px;
    border: darkgreen solid 2px;
    border-radius: 4px;
    margin-left: 30px;
    margin-bottom: 50px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.8);
    float: left;
    position: relative;
    box-shadow: 0 0 30px rgba(0, 100, 0, 0.5);
}

.srw_header {
    text-align: center;
    background: darkgreen;
    font-size: medium;
}

a.srw_a_header {
    color: white;
    text-decoration: none;
}

.srw_a_header:visited {
    color: aliceblue;
}

.srw_a_header:hover {
    color: yellow;
    text-decoration: none;
}

.srw_img {
    /*float: left;*/
    width: 100%;
    height: 90px;
    border: none;
    object-fit: cover;
    background-position: 50% 50%;
}

.srw_invisible {
    display: none;
}

.srw_dummy_div {
    height: 90px;
    width: 100%
}

.srw_dummy_div_full {
    height: 100%;
    width: 100%
}

.srw_annotation {
    border-top: green solid 1px;
    border-bottom: green solid 1px;
    padding: 0px 5px 2px 5px;
    height: 62px;
    background: rgba(255, 255, 255, 0.9);
    font-size: smaller;
}

.srw_annotation_full {
    height: 244px;
    font-size: medium;
}

.srw_ing_div {
    opacity: 0.95;
    background: linear-gradient(to top, darkgray, rgba(255,255,255,0.9));
    width: 100%;
    height: 92px;
    overflow:hidden;
}

.srw_ing_div_full {
    background: rgba(255,255,255,0.95);
    height: 244px;
}

.srw_table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.srw_table th,
.srw_table td {
    vertical-align: top;
    border-top: 1px solid lightgrey;
    padding-left: 5px;
}

.srw_table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid lightgrey;
}

.srw_table tbody + tbody {
    border-top: 2px solid lightgrey;
}

.srw_badge {
    padding: 3px;
    background: lightgrey;
    color: black;
    border-radius: 3px;
    font-size: x-small;
    margin-right: 3px;
    border: 1px black solid;
}

.srw_footer {
    text-align: left;
    background: darkgray;
    font-size: medium;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 3px;
    height: 28px;
}

.srw_hidden_ing {
    opacity: 0.7;
    position:absolute;
    right:0;
    bottom:0;
    color: white;
    font-size: medium;
    background: forestgreen;
    border: 2px white solid;
    border-radius: 10px;
    margin-bottom: 11px;
    margin-right: 3px;
}